<div class="menu_container container">
    <div class="menu_title">
        Quản lý kho
    </div>
    <div class="menu_item">
        <div class="row item">
            @Html.ActionLink("Nhập kho", "NhapKho", "storage")
        </div>
        <div class="row item">
            @Html.ActionLink("Xuất kho", "XuatKho", "storage")
        </div>
        <div class="row item">
            @Html.ActionLink("Danh Mục Sản Phẩm", "DanhMucSanPham", "storage")
        </div>
        <div class="row item">
            @Html.ActionLink("Danh Mục Khách Hàng", "DanhMucKhachHang", "storage")
        </div>
        <div class="row item">
            @Html.ActionLink("Kiểm kê", "KiemKe", "storage")
        </div>
    </div>
</div>